div.sortby {
    float: left;
    width: 610px;
    height: 13px;
    padding: 10px;
    margin: 0 0 3px 0;
    font-weight: bold;
    font-size: 13px;
    color: #666;
    text-align: right;
    background: #e5e5e5;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

    div.sortby a {
        margin: 0 0 0 5px;
    }

h3.time_label {
    float: left;
    width: 608px;
    margin: 13px 0 0 0;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
    color: #888;
    background: #eaeaea;
    border: 1px solid #eaeaea;
    /* border-bottom: 0; */
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
}

    h3.time_label.now {
        color: #333;
        background: #ccc;
        text-shadow: 1px 1px 0px #ddd;
    }

div.event_listing {
    float: left;
    width: 608px;
    padding: 10px 10px 6px 10px;
    margin: 0 0 0 0;
    border: 1px solid #eee;
    border-top: 0;
    background: #f8f8f8;
}

    div.event_listing h1 {
        font-size:24px;
    }
    
        div.event_listing h1 span.date {
            margin: 0 0 0 10px;
            font-size: 14px;
            font-weight: normal;
            color: #777;
        }
        
    div.event_listing p {
        margin: 5px 0;
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
    }
    
    div.top_section {
        float: left;
        position: relative;
        top: -10px; left: -10px;
        width: 610px;
        padding: 10px 10px 3px 10px;
        background: #eee;
    }
    
    div.details {
        float: left;
        width: 610px;
        margin: 5px 0 0px 0;
        font-size: 12px;
        color: #888;
        text-align: left;
    }

        div.details span {
            float: left;
            margin: 0 10px 6px 0;
        }
        
            div.details span span.val {
                float: none;
                margin: 0;
                font-weight: bold;
                color: #666;
            }
            
            div.details a.attend_event {
                margin: 0 0 0 0;
                position: relative;
                text-align: right;
                float: right;
                font-weight: bold;
                color: firebrick;
                cursor: pointer;
                top: -4px;
                font-size: 12px;
                line-height: 19px;
                padding: 0 6px;
                background: #e8e8e8;
                border: 1px solid #e1e1e1;
                text-shadow: 1px 1px 1px #f5f5f5;
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
            }
            
                div.details a.attend_event:not(.attending) {
                    top: -4px;
                    background: #e8e8e8;
                    -moz-border-radius: 6px;
                    -webkit-border-radius: 6px;
                }
        
                div.details a.attend_event.attending {
                    padding: 0 25px 0 6px;
                    font-weight: bold;
                    color: #666;
                    cursor: default;
                }
            
                    div.details a.attend_event.attending span.cancel {
                        float: left;
                        position: absolute;
                        top: 0; right: 0;
                        height: 19px;
                        width: 20px;
                        margin: 0;
                        padding: 0;
                        font-size: 12px;
                        text-align: center;
                        color: #666;
                        cursor: pointer;
                        background: #ddd;
                        -moz-border-radius-topright: 6px;
                        -moz-border-rddius-bottomright: 6px;
                        -webkit-border-top-right-radius: 6px;
                        -webkit-border-bottom-right-radius: 6px;
                    }
